<h1>Artists</h1>
<ul>
  <% @artists.each do |artist| %>
    <li><%= link_to artist.name, artist_songs_path(artist) %></li>
      <%
=begin%>
 <ul>
      <% artist.songs.each do |song| %>
      <li><%= link_to song.title, song_path(song) %></li>
      <% end %>
      </ul> 
<%
=end%>
  <% end %>
</ul>
